@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
    }
}

@theme {
    --font-arial-helvetica: Arial,Helvetica,sans-serif;
    --color-header: oklch(41.283% 0.00005 271.152 / 0.357);
    --font-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



@layer base{
    h1, h2, h3 {
        font-weight: 700;
    }

}

